{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}Spotify Authenticate{{ block.super }}{% endblock %}
{% block main %}
    <div id="auth-main">
        <h1>Spotify に接続</h1>
        <p class="break-point"><span>Spotifyに接続して、</span><span>Music SNSをさらに楽しもう！</span></p>
        <button class="new-post-song-select" id="connect-to-spotify" type="button" onclick="location.href='{{ auth_url }}';"><i class="fa-brands fa-spotify"></i> Spotifyに接続</button>
    </div>
{% endblock %}
