{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}｜Music SNS{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'SNS/styles-sp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SNS/styles-pc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/solid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesomefree/css/all.min.css' %}">
</head>
<body>
    <nav>
        <div id="menu">
            <a href="{% url 'SNS:home' %}"><span class="nav-icon"><i class="nav-icon-i fa-solid fa-house"></i><span class="nav-text">Home</span></span></a>
            <a href="{% url 'SNS:search' %}"><span class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i><span class="nav-text">Search</span></span></a>
            <a href="{% url 'SNS:post' %}"><span class="nav-icon"><i class="nav-icon-i fa-solid fa-plus"></i><span class="nav-text">Post</span></span></a>
            <a href="{% url 'SNS:spotify' %}"><span class="nav-icon"><i class="nav-icon-i fa-brands fa-spotify"></i><span class="nav-text">Spotify</span></span></a>
            <a href="{% url 'SNS:library_song' %}"><span class="nav-icon"><i class="fa-solid fa-book"></i><span class="nav-text"> Library</span></span></a>
            {% if user.is_authenticated %}
                <a href="{% url 'SNS:profile' request.user.username %}"><span class="nav-icon"><img class="nav-icon-i profile-icon" src="{{ icon }}"><span class="nav-text nav-profile">Profile</span></span></a>
                <a href="{% url 'SNS:signout' %}"><span class="nav-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i><span class="nav-text">Sign Out</span></span></a>
            {% else %}
                <a href="{% url 'SNS:signin' %}"><span class="nav-icon"><i class="fa-solid fa-arrow-right-to-bracket"></i><span class="nav-text">Sign In</span></span></a>
                <a href="{% url 'SNS:signup' %}"><span class="nav-icon"><i class="fa-solid fa-user-plus"></i><span class="nav-text">Sign Up</span></span></a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>