{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{ response.playlist.name }}{{ block.super }}{% endblock %}
{% block main %}
    <div class="main">
        <div class="song">
            <span class="song-details">
                <img src="{{ response.playlist.image }}" alt="{{ response.playlist.name }}" class="song-coverart">
                <h1 class="song-detail song-title" id="album-name">{{ response.playlist.name }}</h1>
                <p class="song-detail song-artist-album song-artist-album-follower" id="album-artist">{{ response.playlist.owner }}</p>
            </span>
            <iframe class="song-preview" src="https://open.spotify.com/embed/playlist/{{ response.playlist.id }}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="center">
            <h2 id="record-song">追加された楽曲 ({{ response.songs | length }})</h2>
            {% if user.is_authenticated %}
            {% csrf_token %}
            <button id="follow-all" class="song-type-select" type="button" onclick="follow_all()" style="margin-top: 10px;">プレイリスト内の楽曲を全てフォロー</button>
            <p style="margin: 4px;0px;font-size: 10px;">この操作には時間がかかる場合があります</p>
            <script src="{% static 'SNS/follow-all.js' %}"></script>
            {% endif %}
            <table class="margin-auto">
                {% for song in response.songs %}
                    <tr>
                        <td class="song-table-img"><img src="{{ song.album.image }}" id="img" class="new-post-song-img" alt="{{ song.song.name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-title dont-new-line">{{ song.song.name }}</p>
                                <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in song.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ song.album.name }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}