{% extends "SNS/layout.html" %}
{% load static %}
{% block title %}New Post{{block.super}}{% endblock %}
{% block main %}
    <div class="main">
        <div id="new-post-text">
            <h1 class="new-post-title">Post</h1>
            <form method="post">
                {% csrf_token %}
                <div class="new-post-content-parents">
                    <textarea name="content" class="new-post-content" placeholder="投稿内容を入力..." id="detail" oninput="post_check();" maxlength="500">{{ post.contents }}</textarea>
                    <input type="hidden" name="song" value="{{ song.song.id }}" id="song-id">
                    {% if post.id != None %}
                        <input type="hidden" name="post_id" value="{{ post.id }}" id="artist-id">
                    {% endif %}
                    {% if reply_to != None %}
                        <input type="hidden" name="reply_to" value="{{ reply_to }}" id="reply-to">
                    {% endif %}
                    <div class="new-post-song">
                        <table id="selected-table">
                            <tr>
                                <td><span id="img">
                                    {% if response %}
                                        <img src="{{ song.album.image }}" id="img" class="new-post-song-img" alt="{{ song.song.name }}">
                                    {% else %}
                                        <i class="fa-solid fa-compact-disc"></i>
                                    {% endif %}
                                    </span></td>
                                <td>
                                    <div class="new-post-song-title-artist">
                                        <p id="title" class="new-post-song-title dont-new-line">{{ song.song.name }}</p>
                                        {% if response %}
                                            <p id="no-select"></p>
                                            <p id="artist" class="new-post-song-artist dont-new-line">{% for artist in song.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ song.album.name }}</p>
                                        {% else %}
                                            <p id="no-select">楽曲未選択</p>
                                            <p id="artist" class="new-post-song-artist dont-new-line"></p>
                                        {% endif %}
                                    </div>
                                </td>
                                {% if not response %}
                                    <td><button class="new-post-song-select" type="button" onclick="switchDisplay('song');">選択</button></td>
                                {% endif %}
                            </tr>
                        </table>
                    </div>
                    <input type="submit" value="投稿" id="submit" class="new-post-submit"
                    {% if not response %}
                    disabled
                    {% endif %}>
                </div>
            </form>
        </div>
        <div id="new-post-song-list">
            <div class="song-close">
                <a class="close" onclick="switchDisplay('text');"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div class="search-box">
                <div class="search-bar">
                    <input type="text" id="search-text" class="song-search" placeholder="検索..." onchange="searchSong(0);">
                    <div id="search-result">
                        曲を検索してください
                    </div>
                </div>
                <table id="search-result-table">
                </table>
                <div class="center">
                    <button id="more-button" class="new-post-song-select" type="button" onclick="searchSong(1);">More</button>
                </div>
            </div>
        </div>
        <script src="{% static 'SNS/pick-song.js' %}"></script>
    </div>
{% endblock %}