{% extends "SNS/profile.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{ request.user.username }}さんの曲フォロー{{ block.super }}{% endblock %}
{% block profile %}
<div class="main">
    <div class="post">
        <div class="center">
            <h2 id="record-song">曲フォロー ({{ response | length }})</h2>
            <table class="margin-auto">
                {% for song in response %}
                    <tr>
                        <td class="song-table-img"><img src="{{ song.image }}" id="img" class="new-post-song-img" alt="{{ song.song_name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:song" song.music_id %}"><p class="new-post-song-title dont-new-line">{{ song.song_name }}</p>
                                    <a href="{% url "SNS:song" song.music_id %}"><p class="new-post-song-artist dont-new-line">{{ song.artist_name }} / {{ song.album_name }}</p>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <p class="center">楽曲がフォローされていません</p>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
