{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{ response.data.0.song.name }} / {% for artist in response.data.0.artist %}{{ artist.name }}{% endfor %}{{ block.super }}{% endblock %}
{% block main %}
    <div class="main">
        <div class="song">
            <span class="song-details">
                <img src="{{ response.data.0.album.image }}" alt="{{ response.data.0.song.name }}" class="song-coverart">
                <h1 class="song-detail song-title">{{ response.data.0.song.name }}</h1>
                <p class="song-detail song-artist-album song-artist-album-follower">{% for artist in response.data.0.artist %}{{ artist.name }}{% endfor %} / {{ response.data.0.album.name }}</p>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if follow %}
                        <input type="hidden" name="status" value="true">
                        <input type="hidden" name="song_id" value="{{ response.data.0.song.id }}">
                        <input class="song-detail song-follow" type="submit" value="フォロー解除">
                    {% else %}
                        <input type="hidden" name="status" value="false">
                        <input type="hidden" name="song_id" value="{{ response.data.0.song.id }}">
                        <input class="song-detail song-follow" type="submit" value="楽曲をフォロー">
                    {% endif %}
                </form>
                <p class="song-detail song-follower song-artist-album-follower">{{ followers | intcomma }}人がフォロー</p>
            </span>
            <iframe class="song-preview" src="https://open.spotify.com/embed/track/{{ response.data.0.song.id }}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <div class="post">
            <div class="post-top">
                <h2 class="post-title">投稿({{ posts | length | intcomma }})</h2>
                <span class="post-add" href="{% url 'SNS:post' %}?song={{ response.data.0.song.id }}"><i class="fa-solid fa-plus"></i></span>
                <a href="{% url 'SNS:song' response.data.0.song.id %}" class="post-sort">新しい順</a>
            </div>
            {% for post in posts %}
                <div class="post-detail">
                    <div class="post-user">
                        <img src="{{ post.user_icon }}" class="profile-icon post-profile-icon">
                        <a href="{% url 'SNS:profile' post.username %}" class="post-username">{{ post.username }}</a>
                        <p class="post-date">{{ post.date }}</p>
                    </div>
                    <p class="post-text">{{ post.text }}</p>
                    <div class="post-reaction">
                        <button class="post-reaction-button like" type="button" onclick="like('like', '{{ post.id }}');"> 0</button>
                        <button class="post-reaction-button comment" type="button" onclick="like('like', '{{ post.id }}');"> 0</button>
                        <button class="post-reaction-button report" type="button" onclick="like('like', '{{ post.id }}');"></button>
                        {% if post.username == request.user.username %}
                            <button class="post-reaction-button edit" type="button" onclick="like('like', '{{ post.id }}');"></button>
                            <button class="post-reaction-button delete" type="button" onclick="like('like', '{{ post.id }}');"></button>
                        {% endif %}
                    </div>
                </div>
                {% for reply in post.replies %}
                    <div class="post-detail-reply">
                        <div class="post-user">
                            <img src="{{ reply.user_icon }}" class="profile-icon post-profile-icon">
                            <a href="{% url 'SNS:profile' reply.username %}" class="post-username">{{ reply.username }}</a>
                            <p class="post-date">{{ reply.date }}</p>
                        </div>
                        <p class="post-text">{{ reply.text }}</p>
                        <div class="post-reaction">
                            <button class="post-reaction-button like" type="button" onclick="like('like', '{{ reply.id }}');"> 0</button>
                            <button class="post-reaction-button comment" type="button" onclick="like('like', '{{ reply.id }}');"> 0</button>
                            <button class="post-reaction-button report" type="button" onclick="like('like', '{{ reply.id }}');"></button>
                            {% if reply.username == request.user.username %}
                                <button class="post-reaction-button edit" type="button" onclick="like('like', '{{ reply.id }}');"></button>
                                <button class="post-reaction-button delete" type="button" onclick="like('like', '{{ reply.id }}');"></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% empty %}
                <p>投稿がありません</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}