{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}{{ response.data.0.song.name }} / {% for artist in response.data.0.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %}{{ block.super }}{% endblock %}
{% block main %}
    <div class="main">
        <div class="song">
            <span class="song-details">
                <img src="{{ response.data.0.album.image }}" alt="{{ response.data.0.song.name }}" class="song-coverart">
                <h1 class="song-detail song-title">{{ response.data.0.song.name }}</h1>
                <p class="song-detail song-artist-album song-artist-album-follower">
                    {% for artist in response.data.0.artist %}
                        {% if forloop.last %}
                            <a href="{% url "SNS:artist" artist.id %}">{{ artist.name }}</a>
                        {% else %}
                            <a href="{% url "SNS:artist" artist.id %}">{{ artist.name }}</a>, 
                        {% endif %}
                    {% endfor %}
                     / <a href="{% url "SNS:album" response.data.0.album.id %}">{{ response.data.0.album.name }}</a></p>
                {% if user.is_authenticated %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if follow %}
                            <input type="hidden" name="status" value="true">
                            <input type="hidden" name="song_id" value="{{ response.data.0.song.id }}">
                            <input class="song-detail song-follow" type="submit" value="フォロー解除">
                        {% else %}
                            <input type="hidden" name="status" value="false">
                            <input type="hidden" name="song_id" value="{{ response.data.0.song.id }}">
                            <input class="song-detail song-follow" type="submit" value="楽曲をフォロー">
                        {% endif %}
                    </form>
                {% else %}
                <button id="search-button-tracks" class="song-detail song-follow" type="button" onclick="location.href = '{% url "SNS:signin" %}?next=/search/song/{{ response.data.0.song.id }}';">フォローにはログインが必要です</button>
                {% endif %}
                <p class="song-detail song-follower song-artist-album-follower">{{ followers | intcomma }}人がフォロー</p>
            </span>
            <iframe class="song-preview" src="https://open.spotify.com/embed/track/{{ response.data.0.song.id }}?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        {% if same %}
            <div class="center">
                <h2 id="record-song">他のアルバムに収録された同一楽曲</h2>
                <table class="margin-auto">
                    {% for song in same_response.data %}
                        {% if song.song.id != response.data.0.song.id %}
                            <tr>
                                <td class="song-table-img"><img src="{{ song.album.image }}" id="img" class="new-post-song-img" alt="{{ song.song.name }}"></td>
                                <td class="song-table-title">
                                    <div class="search-song-title-artist new-post-song-title-artist">
                                        <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-title dont-new-line">{{ song.song.name }}</p>
                                        <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in song.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ song.album.name }}</p>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
        <div class="post">
            <div class="post-top">
                <h2 class="post-title">投稿({{ posts | length | intcomma }})</h2>
                <a href="{% url 'SNS:post' %}?song_id={{ response.data.0.song.id }}"><span class="post-add"><i class="fa-solid fa-plus"></i></span></a>
                <a href="{% url 'SNS:song' response.data.0.song.id %}" class="post-sort">新しい順</a>
            </div>
            {% for post in posts %}
                <div class="post-detail">
                    <div class="post-user">
                        <img src="{{ post.user_icon }}" class="profile-icon post-profile-icon">
                        <a href="{% url 'SNS:profile' post.username %}" class="post-username">{{ post.username }}</a>
                        <p class="post-date">{{ post.date | naturaltime }}</p>
                    </div>
                    <p class="post-text">{{ post.text }}</p>
                    <div class="post-reaction">
                        {% if post.good_status %}
                            <button class="post-reaction-button liked" type="button" id="good-{{ post.id }}" onclick="good('gooded', '{{ post.id }}', '{{ request.user.id }}', '{{ post.user_id }}');"> {{ post.good | intcomma }}</button>
                        {% else %}
                            <button class="post-reaction-button like" type="button" id="good-{{ post.id }}" onclick="good('good', '{{ post.id }}', '{{ request.user.id }}', '{{ post.user_id }}');"> {{ post.good | intcomma }}</button>
                        {% endif %}
                        <button class="post-reaction-button comment" type="button" onclick="location.href='{% url 'SNS:post' %}?reply_to={{ post.id }}&song_id={{ response.data.0.song.id }}';"> {{ post.replies | length }}</button>
                        {% if post.username == request.user.username %}
                            <button class="post-reaction-button edit" type="button" onclick="location.href='{% url 'SNS:post' %}?post_id={{ post.id }}&song_id={{ response.data.0.song.id }}';"></button>
                            <button class="post-reaction-button delete" type="button" onclick="deletePost('{{ post.id }}', '{{ request.user.id }}');"></button>
                        {% endif %}
                    </div>
                </div>
                {% for reply in post.replies %}
                    <div class="post-detail-reply">
                        <div class="post-user">
                            <img src="{{ reply.user_icon }}" class="profile-icon post-profile-icon">
                            <a href="{% url 'SNS:profile' reply.username %}" class="post-username">{{ reply.username }}</a>
                            <p class="post-date">{{ reply.date | naturaltime }}</p>
                        </div>
                        <p class="post-text">{{ reply.text }}</p>
                        <div class="post-reaction">
                            {% if reply.good_status %}
                                <button class="post-reaction-button liked" type="button" id="good-{{ reply.id }}" onclick="good('gooded', '{{ reply.id }}', '{{ request.user.id }}', '{{ reply.user_id }}');"> {{ reply.good | intcomma }}</button>
                            {% else %}
                                <button class="post-reaction-button like" type="button" id="good-{{ reply.id }}" onclick="good('good', '{{ reply.id }}', '{{ request.user.id }}', '{{ reply.user_id }}');"> {{ reply.good | intcomma }}</button>
                            {% endif %}
                            {% if post.username == request.user.username %}
                                <button class="post-reaction-button edit" type="button" onclick="location.href='{% url 'SNS:post' %}?post_id={{ reply.id }}&song_id={{ response.data.0.song.id }}';"></button>
                                <button class="post-reaction-button delete" type="button" href="{% url 'SNS:postdelete' %}?post_id={{ reply.id }}"></button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% empty %}
                <div class="home-no-post">
                    <h1>投稿がありません</h1>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'SNS/song.js' %}"></script>
{% endblock %}