{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}Spotify{{ block.super }}{% endblock %}
{% block main %}
    <div class="center">
        {% if now_play.status.premium_user %}
        <h2 id="record-song">再生中</h2>
        {% if now_play.status.success %}
        <table class="margin-auto">
            <tr>
                <td class="song-table-img"><img src="{{ now_play.data.album.image }}" id="img" class="new-post-song-img" alt="{{ now_play.data.song.name }}"></td>
                <td class="song-table-title">
                    <div class="search-song-title-artist new-post-song-title-artist">
                        <a href="{% url "SNS:song" now_play.data.song.id %}"><p class="new-post-song-title dont-new-line">{{ now_play.data.song.name }}</p>
                        <a href="{% url "SNS:song" now_play.data.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in now_play.data.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ now_play.data.album.name }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="control-icon">
                        {% comment %} <button type="button" onclick="control('shuffle');" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-shuffle"></i></button>
                        <button type="button" onclick="control('previous');" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-backward-step"></i></button>
                        {% if now_play.status.playing %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-pause"></i></button>
                        {% else %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-play"></i></button>
                        {% endif %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-forward-step"></i></button>
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-repeat"></i></button> {% endcomment %}
                    </div>
                </td>
            </tr>
        </table>
        {% else %}
        <p class="center">再生中の曲がありません</p>
        {% endif %}
        {% endif %}
    </div>
    <script src="{% static 'SNS/spotify.js' %}"></script>
{% endblock %}