{% extends "SNS/layout.html" %}
{% load static %}
{% load humanize %}
{% block title %}Spotify{{ block.super }}{% endblock %}
{% block main %}
    <div class="center">
        {% if now_play.status.premium_user %}
        <h2 id="record-song">再生中</h2>
        {% if now_play.status.success %}
        <table class="margin-auto">
            <tr>
                <td class="song-table-img"><img src="{{ now_play.data.album.image }}" id="img" class="new-post-song-img" alt="{{ now_play.data.song.name }}"></td>
                <td class="song-table-title">
                    <div class="search-song-title-artist new-post-song-title-artist">
                        <a href="{% url "SNS:song" now_play.data.song.id %}"><p class="new-post-song-title dont-new-line">{{ now_play.data.song.name }}</p>
                        <a href="{% url "SNS:song" now_play.data.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in now_play.data.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ now_play.data.album.name }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="control-icon">
                        {% comment %} <button type="button" onclick="control('shuffle');" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-shuffle"></i></button>
                        <button type="button" onclick="control('previous');" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-backward-step"></i></button>
                        {% if now_play.status.playing %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-pause"></i></button>
                        {% else %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-play"></i></button>
                        {% endif %}
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-forward-step"></i></button>
                        <button type="button" class="control-icon-button control-icon-button" id="repeat" ><i class="fa-solid fa-repeat"></i></button> {% endcomment %}
                    </div>
                </td>
            </tr>
        </table>
        {% else %}
        <p class="center">再生中の曲がありません</p>
        {% endif %}
        {% endif %}
        <h2 id="record-song">マイライブラリ</h2>
        <div class="button-bar">
            <button id="search-button-tracks" class="song-type-select button-select" type="button" onclick="display(0);">Tracks</button>
            <button id="search-button-artists" class="song-type-select" type="button" onclick="display(1);">Artists</button>
            <button id="search-button-albums" class="song-type-select" type="button" onclick="display(2);">Albums</button>
            <button id="search-button-playlists" class="song-type-select" type="button" onclick="display(3);">Playlists</button>
            <button id="search-button-recent" class="song-type-select" type="button" onclick="display(4);">Recent</button>
        </div>
        <div class="center">
            <button id="search-button-tracks" class="song-type-select" type="button" onclick="display(0);" style="margin-top: 10px;">Tracksを全てフォロー</button>
            <p style="margin: 4px;0px;font-size: 10px;">この操作には時間がかかる場合があります</p>
            <table class="margin-auto" id="search-result-table-tracks">
                {% for song in response.data.tracks %}
                    <tr>
                        <td class="song-table-img"><img src="{{ song.album.image }}" id="img" class="new-post-song-img" alt="{{ song.song.name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-title dont-new-line">{{ song.song.name }}</p>
                                <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in song.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ song.album.name }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="margin-auto" style="display: none;" id="search-result-table-artists">
                {% for artist in response.data.artists %}
                    <tr>
                        <td class="song-table-img"><img src="{{ artist.artist.image }}" id="img" class="new-post-song-img" alt="{{ artist.artist.name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:artist" artist.artist.id %}"><p class="new-post-song-title dont-new-line">{{ artist.artist.name }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="margin-auto" style="display: none;" id="search-result-table-albums">
                {% for album in response.data.albums %}
                    <tr>
                        <td class="song-table-img"><img src="{{ album.album.image }}" id="img" class="new-post-song-img" alt="{{ album.album.name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:album" album.album.id %}"><p class="new-post-song-title dont-new-line">{{ album.album.name }}</p>
                                <a href="{% url "SNS:album" album.album.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in album.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="margin-auto" style="display: none;" id="search-result-table-playlists">
                {% for playlist in response.data.playlists %}
                    <tr>
                        <td class="song-table-img"><img src="{{ playlist.image }}" id="img" class="new-post-song-img" alt="{{ playlist.name }}"></td>
                        <td class="song-table-title">
                            <div class="search-song-title-artist new-post-song-title-artist">
                                <a href="{% url "SNS:playlist" playlist.id %}"><p class="new-post-song-title dont-new-line">{{ playlist.name }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <table class="margin-auto" style="display: none;" id="search-result-table-recent">
                {% for song in recent_play.data %}
                <tr>
                    <td class="song-table-img"><img src="{{ song.album.image }}" id="img" class="new-post-song-img" alt="{{ song.song.name }}"></td>
                    <td class="song-table-title">
                        <div class="new-post-song-title-artist">
                            <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-title dont-new-line">{{ song.song.name }}</p></a>
                            <a href="{% url "SNS:song" song.song.id %}"><p class="new-post-song-artist dont-new-line">{% for artist in song.artist %}{% if forloop.last %}{{ artist.name }}{% else %}{{ artist.name }}, {% endif %}{% endfor %} / {{ song.album.name }}</p></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static 'SNS/spotify.js' %}"></script>
{% endblock %}